/* Basic Reset */
* {
    margin: 0;
        padding: 0;
            box-sizing: border-box;
            }

            /* Body Styling */
body {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height : 1.6;
background-color: #f9f9f9;
color: #333;
padding: 20px;
 }

img {
    position: absolute;
    top: 23%;
    left: 21%;
}

/* Header Styling */
header {
    background-color: #7F6A93;
    color: white;
    padding: 20px 0;
    text-align: center;
     margin-bottom: 30px;
}

      /* Section Styling */
      section {
          background: #7F6A93;
              padding: 20px;
  margin-bottom: 20px;
      border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          }

          /* Headings */
 h1 {
     font-size: 2.5em;
     background-color: #ffff;
     border-width: 8px;
     border-style: dashed;
     border-color: #000;
     color: #04724d;
     text-align: center;
   }

 h2 {
  font-size: 2.5em;
  color: #04724d;
  text-align: center;
    }

h3 {
    margin-top: 15px;
    color: #000;
}

h4 {
    margin-top: 10px;
    color: #04724d;
    border-width: 10px;
    border-style: double;
    border-color: #04724d;
    border-right: #04724d;
}

    


/* Footer Styling */
footer {
    position: absolute;
    top: 110%;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    font-size: 0.9em;
    color: #000;
}